<a href="https://colab.research.google.com/github/vicentepela11/vicente/blob/master/igor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt
sns.set()
plt.figure(figsize=(10, 8))
# essencias = {'produtos':[],
#              'quantidade': [],
#              'lucro': []
#              }
# total_dia = {'total': []}

teste = pd.read_csv('drive/MyDrive/Colab Notebooks/Projeto_igor/df.csv')
teste

   produtos  quantidade  lucro
0       nay           1      4
1      zomo           1      3
2      hema           2     14
3      zomo           1      3
4      zomo           1      3
5      onix           5     20
6     ziggy          10     40
7      zomo           1      3
8      hema           1      7
9      hema           2     14
10     hema           3     21

In [ ]:
dici = {'ziggy': 7, 
        'zomo': 6, 
        'nay': 7, 
        'onix': 8, 
        'pimp': 8, 
        'love': 10.50,
        'coco life': 50,
        'hema': 50,
        'aluminio zomo': 9,
        'predator': 8,
        'kavalera': 4,
        'kaloud': 17,
        'bking': 19,
        'beta': 25,
        'zingow': 18,
        'conduite': 4,
        'silicone': 10,
        'vaso': 10,
        'fog p': 22,
        'fog m': 27,
        'pegador': 5,
        'borracha r': 2,
        'borracha m': 2,
        'borracha v': 3}
preco_venda = {'ziggy': 11, 
        'zomo': 9, 
        'nay': 11, 
        'onix': 12, 
        'pimp': 12, 
        'love':14.50,
        'coco life' : 67,
        'hema': 57,
        'aluminio zomo': 14,
        'predator': 12.50,
        'kavalera': 8,
        'kaloud': 24,
        'bking': 30.5,
        'beta': 40,
        'zingow': 27,
        'conduite': 9,
        'silicone': 15,
        'vaso': 17,
        'fog p': 35,
        'fog m': 41,
        'pegador': 10,
        'borracha r': 4,
        'borracha m': 4,
        'borracha v': 5}

In [ ]:

def venda():
  lista = []
  #total = []
  lucro = []

  marca = int(input('quantas marcas voce vendeu ? '))

  print('====================================')
  for i in range(0, marca):  
    teste = input(f"digite o produto {i+1}: ")
    lista.append(teste)
    quant = int(input(f'Quantas {lista[i]} foi vendida: '))
    print('====================================')
    #total.append(quant)
    preço = (preco_venda[teste] * quant) - (dici[teste] * quant)
    lucro.append(preço)
    essencias['produtos'].append(teste)
    essencias['quantidade'].append(quant) 
    essencias['lucro'].append(preço)

  lucro = sum(lucro) 
  total_dia['total'].append(lucro)
  print(f'seu lucro foi total foi de: R${lucro}')
  return lucro

In [ ]:
venda()

df = pd.DataFrame(essencias)
dia = pd.DataFrame(total_dia)

df.to_csv('drive/MyDrive/Colab Notebooks/Projeto_igor/df.csv', index=Fhealse)
teste = pd.read_csv('drive/MyDrive/Colab Notebooks/Projeto_igor/df.csv')

quantas marcas voce vendeu ? 1
====================================
digite o produto 1: hema
Quantas hema foi vendida: 3
====================================
seu lucro foi total foi de: R$21

In [ ]:
teste

   produtos  quantidade  lucro
0       nay           1      4
1      zomo           1      3
2      hema           2     14
3      zomo           1      3
4      zomo           1      3
5      onix           5     20
6     ziggy          10     40
7      zomo           1      3
8      hema           1      7
9      hema           2     14
10     hema           3     21

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).